* {
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

:root {
    --background: #323235;
    --dark: #353A5A;
    --dark1: #353a5a21;
    --green: #964b00;
    --text: rgb(216, 216, 216);
    --light: #717171;
}

/* 5c5c5c */
.container {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-size: 58px;
    font-weight: 500;
    line-height: 68px;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

p {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text);
}

a {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    align-items: center;
    border: none;
    outline: none;
    color: var(--text);
}

button:hover {
    cursor: pointer;
    color: aliceblue;
}

button:active {
    color: rgb(96, 96, 96);
}

/* сеция nav */
nav {
    width: 100%;
    height: 110px;
}

.nav_list {
    padding-top: 40px;
    display: flex;
    justify-content: end;
    gap: 40px;
}

.nav_description {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 16px;
    color: var(--text);
}

.nav_description:hover {
    border-bottom: 2px dashed #fff;
}

/* секция header */
header {
    height: 100px;
    min-height: 400px;
    padding: 75px 0;
}

.header_text {
    width: 470px;
    text-align: center;
    color: var(--text);
}

.header_title {
    margin: 0 auto 25px;
}

.header_img {
    top: -20px;
    right: -100px;
    position: absolute;
    object-fit: cover;
    border-radius: 80px 0px 0px 0px;
}

/* секция works */
.works {
    padding-top: 80px;
    padding-bottom: 80px;
}

.works_cards {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

.works_card {
    text-align: center;
}

.works_link {
    cursor: pointer;
}

.works_card img {
    width: 400px;
    object-fit: cover;
    transition: 0.3s;
}

.works_description {
    margin-top: 10px;
}

.works_card:hover img {
    border-radius: 0px 80px 0px 80px;
}

/* секция footer */
.footer {
    border-top: 2px solid var(--light);
    padding-top: 100px;
    padding-bottom: 20px;
}

footer {
    border-top: 2px solid var(--light);
}

.footer_copy {
    padding: 30px 0 30px;
}

.footer_cards {
    justify-content: space-between;
    display: flex;
}

.footer_description {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 16px;
    color: var(--text);
}

.footer_li:not(:last-child) {
    margin-bottom: 20px;
}

.footer_icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_icon {
    width: 48px;
    height: 48px;
}

.footer_email {
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: var(--text);
    text-align: center;
    gap: 15px;
}
.email_btn{
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 100px;
}
.email_btn:hover{
    background-color: #515157;
}
.user{
    border: none;
    border-bottom: solid 1px #fff;
    outline: none;
}